*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    height: 100%;
    justify-content: center;
    align-content: center;
}

.leftBackground{
    width: 100%;
    max-width: 500px;
    position: fixed;
    z-index: -1000;
    background: linear-gradient(to left bottom, hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    height:100vh;
    border-bottom-right-radius: 50% 30%;
    border-bottom-left-radius: 50%  60%;
    transform: translateX(-40%)
    translateY(-20%);
}

.rightBackground{
    width: 100%;
    max-width: 500px;
    position: fixed;
    z-index: -1000;
    background-color: rgba(248,243,250,255);
    height:100vh;
    right: 0;
    bottom: 0;
    border-top-right-radius: 50% 60%;
    border-top-left-radius: 50%  30%;
    transform: translateX(40%)
    translateY(20%);
}

.phoneContainer{
    width: 300px;
    height: 500px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    position: relative;
}

.interiorPhone{
    background-color: #7e7a7a;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    height: 100%;
}

.topPart{
    background-color: red;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    padding-top:30px ;
}

.notch{
    position: absolute;
    top: 0px;
    width: 150px;
    height: 30px;
    background-color: white;
    left: 85px;
    border-bottom-left-radius:15px ;
    border-bottom-right-radius:15px ;
}